*{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.atas{
    background: -webkit-linear-gradient(-148deg, #ae0b1a, #d20d48);
    background-image:url(file_gambar/home-cover.jpg);
    height: 300px;
}

header{
    /* background-color:orange; */
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}

header .judul{
    /* align-items: center; */
    text-align: center;
    justify-content: center;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    /* font-family: inherit; */
}
header .judul h2{
    margin-top: 22px;
    margin-bottom: 11px;
    font-size: 33px;
}
header .judul p{
    font-size: 24px;
}

nav{
    padding-left: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    /* font-family: fantasy; */
    color: white;
}

nav ul{
    list-style: none;
    position: relative;
    display: inline-table;
    width: 100%;
}

nav ul li {
    float:left;
    /* display:inline-block; */
    padding: 10px;
}

nav ul li a{
    color: white;
}


.body{
    /* display: flex; */
    height: 460px;
    /* width: auto; */
}



.search input{
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #DC143C;
    border-radius: 5px;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
}

.search button{
    padding: 12px 20px 12px 40px;
    background-image: url(file_gambar/outline_search_white_24dp.png);
    background-repeat: no-repeat;
    background-position: 10px 8px;
    background-color: crimson;
    border: 2px solid #DC143C;
    border-radius: 5px;
    color: white;
}


.search{
    margin-top: 50px;
    text-align: center;
}

.buat{
    margin-top: 20px;
    text-align: center;
    margin-left: 550px;
    /* background-image: url(file_gambar/add_box_black_24dp.png);
    background-repeat: no-repeat;
    background-position: 765px; */
}

.laporan{
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.laporan hr{
    background-color: crimson;
}

.waktu table tr td a{
    color: crimson;
}

.lampiran{
    float: left;
}
.waktu{
    float: right;
    /* display: flex; */
    /* padding-right: 50px; */
}

.waktu table tr td{
    /* padding: 0px 10px 0px 10px; */
    padding-inline-end: 10px;
}


a{
    text-decoration: none;
    color: black;
}