h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
}

html {
    height: 80%;
    width: 100%;
}

#judul-container {
    width: 80%;
    padding: 8px 7px;
    margin-bottom: 10px;
    border-bottom: 2px solid grey;

}
.error {
    display: none;
    background-color: #FFC0CB;
    border: solid #FF00CB 3px ;
    border-radius: 0.2em;
    padding : 2px;
    width: 60%;
}
.no-outline:focus {
    outline: none;
  }

.no-border {
    border-style: hidden;
}

#isi-laporan-container {
    border-color: grey;
}

.form-container {
    height: 100%;
    width: 68.8%;
    display: flex;
    align-items:stretch;
    flex-direction: column;
    border: solid 2px black;
    border-radius: 5px;
    padding-left: 4em;
}

.button-container {
    text-align: right;
    border-bottom: 2px solid #970b1e;
    width: 82%;
    padding: 50px 0px 20px 0px;
}

.button-container input {
    font-size: 1em;
    background-color: #970b1e;
    color: white;
    border-radius: 4px;
    font-style:oblique;
}

#file-container {
    padding: 5px;
}